.add-gig {
    grid-template-rows: auto 1fr auto;
    background: #F5F5F5;

    .add-gig-stepper-container {
        place-content: center;
        min-height: 60px;
        border-block-end: 1px solid #dadbdd;
        background: #fff;
    }


    .add-gig-form-container {
        max-width: 1000px;

        margin: rem(60px) auto;
        padding: rem(28px);

        background: #fff;
        border: 1px solid #dadbdd;
        border-radius: 5px;

        .gig-title-container {

            

            input {

                &::placeholder {
                    color: #929292;
                }
            }
        }

        label {
            font-weight: 600;
            color: #222325;
        }

        p {
            margin-block-start: em(8px);
            color: #404145;
        }
    }
}