.add-gig {
    grid-template-rows: auto 1fr auto;
    background: #F5F5F5;

    .add-gig-stepper-container {
        place-content: center;

        min-height: 60px;
        padding-block: rem(12px);

        border-block-end: 1px solid #dadbdd;
        background: #fff;
    }


    .add-gig-form-container {
        width: 100%;
        height: fit-content;
        margin: rem(60px) auto;

        @include for-normal-layout {
            width: 850px
        }
    }

    .add-gig-stepper-btns {
        
    }
}