.gig-index {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        color: #222325;
        margin-block-start: rem(28px);
    }

    button {
        margin-inline-end: 0;
    }
}