.gig-index {
    min-width: 0;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        color: #222325;
        margin-block: rem(28px) rem(14px);

        :not(:has(.breadcrumbs)) & {
            margin-block-start: 0;
        }

    }

    .sub-heading {
        text-wrap: balance;
        max-width: 800px;
    }


    button {
        margin-inline-end: 0;
    }
}