.categories-list-container {
    border-block-end: 1px solid #dadbdd;
    overflow: visible;

    .categories-list-wrapper {
        position: relative;
        width: 100%;
        overflow-x: auto;

        .categories-list {
            height: rem(39px);

            .keen-slider__slide {
                min-width: max-content;

                .category-link {
                    height: 100%;
                    
                    color: #62646a;
                    border-block-end: 2px solid transparent;

                    &:hover {
                        border-block-end: 2px solid $nav-link-clr-hover;
                    }

                    &.active {
                        border-block-end: 2px solid $nav-link-clr-hover;
                    }
                }
            }

        }

        .arrow {
            position: absolute;
            top: 0;

            height: 100%;
            width: 40px;

            z-index: 1;

            &.arrow-left {
                left: 0;
                background: linear-gradient(90deg, #fff 40%, hsla(0, 0%, 100%, 0));
            }

            &.arrow-right {
                right: 0;
                background: linear-gradient(270deg, #fff 40%, hsla(0, 0%, 100%, 0));
            }
        }
    }
}