.categories-list-container {
    border-block-end: 1px solid #dadbdd;
    overflow: visible;

    .categories-list-wrapper {
        position: relative;
        width: 100%;
        overflow-x: auto;

        .categories-list {
            height: rem(39px);

            .keen-slider__slide {
                min-width: max-content;

                .category-link {
                    position: relative;

                    height: 100%;

                    color: #62646a;
                    transition: color 0.3s ease-in-out;

                    &:hover {
                        color: $clr1;
                    }

                    &.active {
                        color: $clr1;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;

                        width: 100%;
                        height: 2px;

                        background-color: $nav-link-clr-hover;
                        transform: scaleY(0);
                        transform-origin: bottom;
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover::after,
                    &.active::after {
                        transform: scaleY(1);
                    }
                }

            }

        }

        .arrow {
            position: absolute;
            top: 0;

            height: 100%;
            width: 40px;

            z-index: 1;

            &.arrow-left {
                left: 0;
                background: linear-gradient(90deg, #fff 40%, hsla(0, 0%, 100%, 0));
            }

            &.arrow-right {
                right: 0;
                background: linear-gradient(270deg, #fff 40%, hsla(0, 0%, 100%, 0));
            }
        }
    }
}