.gig-filter {
    display: flex;
    gap: 1rem;
    position: relative;

    .dropdown-filter {
        // position: relative;

        button {
            display: flex;
            // align-items: center;
            // align-content:center;
            gap: .5em;
            padding: 10px 20px;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-weight: 700;
        }

        .dropdown-content {
            position: absolute;
            top: 2rem;
            background: white;
            border: 1px solid #ccc;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            z-index: 10;
            min-width: 160px;

            .btn-group {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}