.gig-filter,
.gig-sort {
    display: flex;
    gap: rem(8px);
    margin-block-start: rem(24px);

    .dropdown-filter {
        position: relative;
        white-space: nowrap;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: em(8px);
            padding: rem(10px) rem(20px);
            white-space: nowrap;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: rem(6px);
            font-weight: 600;
            font-size: rem(16px);
            transition: background 0.25s, border-color 0.25s, color 0.25s;

            &:hover {
                background: #f5f5f5;
            }

            &.sort-btn {
                border: none;
                padding: rem(10px) rem(8px);
            }

            .arrow-icon {
                height: fit-content;
                width: em(12px);
                object-fit: contain;
                transition: transform 0.25s;

                &.rotate {
                    transform: rotate(-180deg);
                }
            }
        }

        .dropdown-content {
            position: absolute;
            top: calc(100% + rem(6px));
            left: 0;

            display: flex;
            flex-direction: column;

            min-width: rem(180px);

            padding: rem(24px);

            opacity: 0;
            background: #fff;
            border: 1px solid #e5e5e5;
            border-radius: rem(8px);
            box-shadow: 0 rem(6px) rem(18px) rgba(0, 0, 0, 0.08);
            transform: translateY(rem(-8px));
            animation: dropdownIn 0.25s forwards ease-out;
            z-index: 10;

            input[type="number"],
            input[type="text"] {
                padding: rem(8px) rem(12px);

                border: 1px solid #e5e5e5;
                border-radius: rem(4px);
                font-size: rem(14px);
                transition: border-color 0.25s;

                &:focus {
                    outline: none;
                    border-color: black;
                }

                &::placeholder {
                    color: #b5b6ba;
                }
            }

            label {
                display: flex;
                align-items: center;
                gap: rem(8px);
                padding: rem(12px);
                cursor: pointer;
                font-size: rem(14px);
                font-weight: 600;
                color: #404145;
                transition: color 0.25s;
                border-radius: 8px;
                transition: 0.3s ease;

                &:hover {
                    background-color: #fafafa;
                }
            }

            &.tags-list {
                max-height: rem(300px);

                .tags-scroll {
                    flex: 1;
                    padding-right: rem(4px);
                    overflow-y: auto;
                }

                .btn-group {
                    background: #fff;
                }
            }

            .tag-item {
                display: flex;
                gap: em(8px);

                padding-block: rem(6px);

                font-size: em(14px);
                white-space: nowrap;
            }

            .btn-group {
                display: flex;
                justify-content: space-between;
                gap: rem(8px);

                padding-block-start: rem(16px);
                margin-block-start: rem(16px);
                
                border-block-start: 1px solid #e4e5e7;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: rem(4px);
                    border: 1px solid transparent;
                    background: #f6f6f6;
                    font-weight: 600;
                    transition: background 0.25s;

                    &:hover {
                        background: #ebebeb;
                    }

                    &:active {
                        background: #e2e2e2;
                    }

                    &.clear-btn {
                        background: none;
                        color: #62646a;
                        border: none;
                    }

                    &.apply-btn {
                        color: $clr6;
                        background-color: #222325;
                    }
                }
            }

            .budget-option {
                .budget-label {
                    font-weight: 600;
                }

                .budget-note {
                    font-weight: 400;
                    color: #74767e;
                }
            }
        }
    }

    .sort-by-container {
        display: flex;
        align-items: baseline;

        span {
            color: #74767e;
        }

        .sort-btn {
            font-size: inherit;
            color: #222325;
        }

        .dropdown-content {
            left: -110px;
            max-height: rem(200px);
            overflow-y: scroll;
        }

        li {
            padding: rem(9px) rem(16px);

            width: 100%;

            border-radius: rem(8px);
            white-space: nowrap;
            cursor: pointer;
            
            &.selected {
                font-weight: 600;
            }
            
            label {
                min-width: 160px;
                padding: 0 !important;

                color: #222325;
                font-weight: 500 !important;
                font-size: rem(16px) !important;

                &:hover {
                    background-color: transparent !important;
                }
            }

            .hidden {
                visibility: hidden;
            }

            img {
                margin-inline-end: rem(16px);
            }

            &:hover {
                background-color: #f5f5f5;
            }
        }
    }

    .delivery-radio,
    .budget-radio {
        display: flex;
        align-items: center;
        gap: em(8px);
        cursor: pointer;
        position: relative;
    }

    .radio-native {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .radio-custom {
        width: rem(22px);
        height: rem(22px);
        border: rem(1px) solid #b5b6ba;
        border-radius: 50%;
        flex-shrink: 0;
        position: relative;
        transition: 0.15s;

        &::after {
            content: '';
            width: rem(8px);
            height: rem(8px);
            border-radius: 50%;
            background: #95979d;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: 0.15s;
        }
    }

    .radio-native:checked+.radio-custom {
        border-width: rem(2px);
        border-color: #222;
    }

    .radio-native:checked+.radio-custom::after {
        background: #222325;
        opacity: 1;
    }

    .radio-native:disabled+.radio-custom,
    .radio-native:disabled~span {
        opacity: 0.45;
        cursor: default;
    }

    .filter-tags {
        .tag-checkbox {
            display: flex;
            align-items: center;
            gap: em(8px);
            cursor: pointer;
            position: relative;
        }

        .checkbox-native {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }

        .checkbox-custom {
            width: rem(18px);
            height: rem(18px);
            border: rem(1px) solid #b5b6ba;
            border-radius: rem(2px);
            flex-shrink: 0;
            position: relative;
            transition: 0.15s;

            &::after {
                content: '';
                width: rem(6px);
                height: rem(10px);
                border-right: rem(2px) solid #fff;
                border-bottom: rem(2px) solid #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -60%) rotate(45deg);
                opacity: 0;
                transition: 0.15s;
            }
        }

        .checkbox-native:checked+.checkbox-custom {
            background: #222325;
            border-color: #222325;
        }

        .checkbox-native:checked+.checkbox-custom::after {
            opacity: 1;
        }

        .checkbox-native:disabled+.checkbox-custom,
        .checkbox-native:disabled~span {
            opacity: 0.45;
            cursor: default;
        }
    }
}

.active-filters {
    margin-block-start: rem(12px);
}

.chip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(12px);

    margin: 0 rem(10px) rem(10px) 0;
    padding: rem(4px) rem(16px);

    color: #222325;
    background: #efeff0;
    border: 1px solid #e4e5e7;
    border-radius: rem(16px);
    font-size: rem(14px);
    font-weight: 600;
    cursor: pointer;

    &:hover {
        color: #74767e;
    }
}

.chip button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
}

.chip img {
    width: rem(10px);
    height: rem(10px);
}


@keyframes dropdownIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}