.gig-preview {
    display: flex;
    flex-direction: column;
    height: 100%;

    .gig-img {
        border: 1px solid #e4e5e7;
        border-radius: 8px;
    }

    >*:not(.gig-img) {
        margin-block-start: rem(8px);
    }

    .owner-row {
        margin-block-start: rem(12px);

        font-size: rem(14px);
        font-weight: 600;

        .owner-details .owner-name,
        .owner-level {
            gap: rem(8px);
            text-decoration: none;

            &.top-rated {
                padding-inline: rem(6px);

                border-radius: rem(4px);
                color: $clr1;
                background-color: #ffe0b3;
            }

            &:hover {
                text-decoration: underline;
            }

        }

        .owner-avatar {
            width: 24px;
            height: 24px;

            border-radius: 50%;
            object-fit: cover;
        }

        .stars {
            gap: rem(2px);
        }
    }

    .gig-title {
        color: #404145;
        margin-block-end: auto;
        text-decoration: none;
    }

    &:hover {
        .gig-title {
            text-decoration: underline;
        }
    }

    &:has(.owner-name:hover) {
        .gig-title {
            text-decoration: none;
        }
    }

    .rating-row {

        >*:not(:first-child) {
            padding-inline-start: rem(4px);
        }

        .star {
            font-size: 18px;
        }

        .rate-num {
            font-weight: 600;
        }

        .rate-count {
            color: #74767e;
        }
    }

    .price-row {
        font-weight: 600;
        color: $clr1;

        // .price {}
    }
}