.pricing-packages {
    margin-bottom: rem(32px);
    
    nav {
        display: flex;
    }

    button {
        flex: 1;
        font-family: Macan-Bold, sans-serif;
        font-size: 1rem;
        font-weight: 700;
        background-color: #fafafa;
        border: 1px solid #dadcdd;
        border-left: none;
        color: #74767e;
        padding: 1rem;
        text-align: center;

        &:last-child {
            border-right: none;
        }

        &.active {
            background-color: white;
            border-bottom: 3px solid #222325;
            color: #222325;
        }
    }

    .pricing-card {
        padding-top: rem(32px);
        align-items: flex-start;
        color: #62646A;
        line-height: lh(21px);


        .price {
            p {
                margin-top: em(2px);
                font-size: em(15px);
            }

            span {
                font-family: Macan-Bold, sans-serif;
                color: #404145;
                font-size: rem(20px);
            }
        }

        a {
            color: #026A5D;
        }

        p {
            margin: rem(24px) 0 rem(10px);
        }

        .delivery-info {
            font-family: Macan-Bold, sans-serif;
            font-size: rem(14px);
            margin-bottom: .5rem;

            >* {
                span:not(:first-child) {
                    margin-left: rem(8px);
                }
            }

            .revisions {
                margin-left: 1rem;
            }
        }

        .features-list {
            font-size: rem(14px);
            color: #95979d;
            margin-block-end: 1.25rem;

            span {
                margin-top: .3rem;
                display: flex;
                gap: rem(12px);

                img {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }

    .continue-btn {
        background-color: black;
        color: white;
        border: 1px solid transparent;
        border-radius: 4px;
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;
        line-height: 100%;
        padding: rem(12px) rem(24px);
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);

        &:hover {
            background-color: #313235;
        }

        span {
            display: inline-block;
            float: right;
        }
    }
}