.search-bar-container {
    width: 100%;

    .search-bar {
        padding: 10px 2px 10px 16px;

        width: 100%;

        border: 1px solid #dadbdd;
        border-inline-end: none;
        border-radius: 4px 0 0 4px;

        &:focus {
            outline: none;
            border-color: $clr1;
        }

    }

    .search-btn {
        background-color: $clr1;
        border-radius: 0 4px 4px 0;
        padding: 8px 16px;
    }
}