.user-order-preview {

    .buyer-cell {
        display: flex;
        align-items: center;
        gap: rem(10px);
        font-weight: 600;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .status-cell {
        position: relative;

        .status {
            padding: rem(4px) rem(10px);

            min-width: 100px;

            color: #fff;
            text-align: center;
            text-transform: capitalize;
            border-radius: .5rem;
            user-select: none;
            cursor: pointer;
        }

        .status-dropdown {
            position: absolute;
            top: 32px;

            min-width: 160px;

            background-color: #fff;
            border-radius: rem(8px);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.05);
            overflow: hidden;
            z-index: 1;

            li {
                width: 100%;
                padding: rem(8px) rem(12px);
                line-height: 1.5;
                transition: all 0.2s ease-in-out;

                &.approved:hover {
                    color: $clr1;
                    background-color: rgba(243, 157, 18, 0.5);
                }

                &.fulfilled:hover {
                    color: $clr1;
                    background-color: rgba(29, 191, 115, 0.5);
                }

                &.rejected:hover {
                    color: $clr1;
                    background-color: rgb(231, 76, 60, 0.5);
                }
            }
        }

        @include for-normal-layout {
            .status-dropdown {
                width: 100%;
            }

            .status {
                display: block;
            }

            .status-dropdown {
                top: 80%;
                right: 20px;
            }
        }
    }
}