.user-order-preview {

    .buyer-cell {
        display: flex;
        align-items: center;
        gap: rem(10px);
        font-weight: 600;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .status-cell {
        position: relative;

        .status {
            padding: rem(4px) rem(10px);

            min-width: 100px;

            color: #fff;
            text-align: center;
            text-transform: capitalize;
            border-radius: .5rem;
            user-select: none;
            cursor: pointer;
        }

        .status-dropdown {
            position: absolute;
            top: 32px;

            min-width: 122px;

            background-color: #fff;
            border-radius: rem(8px);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.05);
            z-index: 1;

            li {
                width: 100%;
                padding: rem(8px) rem(12px);
                text-transform: capitalize;
                line-height: 1.5;

                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }

        @include for-normal-layout {
            .status-dropdown {
                width: 100%;
            }

            .status {
                display: block;
            }

            .status-dropdown {
                top: 75%;
                right: 20px;
            }
        }
    }
}