button {
	border: 0;
	background-color: transparent;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

form > * {
	display: block;
}

.btn-link {
	border: 0;
	background-color: transparent;
	transition: 0.5s;
}
.btn-link:hover {
	background-color: $clr1;
}
