@font-face {
    font-family: Macan-Regular;
    src: url('/src/assets/font/Macan/Macan-Regular.ttf');
}

@font-face {
    font-family: Macan-Medium;
    src: url('/src/assets/font/Macan/Macan-Medium.ttf');
}

@font-face {
    font-family: Macan-Bold; 
    src: url('/src/assets/font/Macan/Macan-Bold.ttf');
}