.main-container .main-content {
    min-height: calc(100vh - 10rem);
    padding-block-end: rem(48px);

    @include for-narrow-layout {
        padding-block-end: rem(64px);
    }

    @include for-normal-layout {
        padding-block-end: 0;
    }

    &:not(:has(.home-page)) {
        padding-block-start: rem(40px);

        @include for-narrow-layout {
            padding-block-start: rem(40px);
        }

        @include for-normal-layout {
            padding-block-start: 0;
        }
    }
}