.main-container#root {
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    &:has(.categories-page-shown) {
        grid-template-rows: auto auto 1fr auto;
    }

    @include for-mobile-layout {
        &:not(:has(.categories-list-container)) {
            grid-template-rows: auto 1fr auto;
        }
    }
}

.main-container .main-content {
    padding-block-end: rem(48px);

    @include for-narrow-layout {
        padding-block-end: rem(64px);
    }
}


.main-container .main-content:not(:has(.home-page)) {
    padding-block-start: rem(25px);

    @include for-narrow-layout {
        padding-block-start: rem(35px);
    }
}

.main-container .main-content.add-gig-page-shown {
    padding-block: rem(0px);
}