.main-container .main-content {
    min-height: calc(100vh - 10rem);
    padding-block-end: rem(48px);
    
    @include for-narrow-layout {
        padding-block-end: rem(64px);
    }
}


.main-container .main-content:not(:has(.home-page)) {
    padding-block-start: rem(25px);

    @include for-narrow-layout {
        padding-block-start: rem(35px);
    }
}